body{ 
    background-color: #fffee1;
    color: white;  
    font-family: 'Lemon', serif;
}

i{
    font-size: 7rem;
}

.col-12,#ChiSono{
    background-color: #dcc989;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    box-shadow: 5px 5px 15px 5px black;
}

footer i{
    font-size: 1rem;
}

footer,nav{
    background-color: #f3f6ba;
}
footer a {
    color: #b3bdc5;
}

.bodyWhite{
  
    background-color: black;
    color: black;
}


h4{
    color:rgb(12 121 12);
    font-weight: bolder;
}
h3,h4,footer a{
    font-family: 'Lemon', serif; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;   
}

/* Hover */
#ChiSono:hover,.Navli:hover{
    transform: scale(1.1);
}
footer a:hover{
    color: green !important;
   }


/* Media query */
@media screen and (min-width: 575px) {

.col-12:hover{
    transform: scale(1.1);
}

}
@media screen and (max-width: 575px) {
    #Progetti {
        padding: 50px;
    }
}
@media screen and (max-width: 760px) {
    #ChiSono {
      width: 75% !important;
    }
}
@media screen and (min-width: 1000px) {
.navbar-brand{
margin-left: 290px;
}
}
@media screen and (max-width: 500px) {
    i {
        font-size: 3rem;
    }

}
@media screen and (min-width: 500px) {
    i {
        font-size: 4rem;
    }

}
@media (max-width: 991px){
nav ul li {
  width: 100%;
}
}